@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

#back {
    position: fixed;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, hwb(0 100% 0%), #d3d3d3);
}

header {
    user-select: none;
    display: flex;
}

.logo {
    height: 90px;
    padding: 20px 0;
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
}

h1 {
    margin: 0;
    font-size: 5vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 20px;
}

nav.menu {
    display: flex;
    flex-direction: column;
}

#search-n-btn {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

#searchbox {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

#searchbox::placeholder {
    font-style: italic;
    color: #6a6a6a;
}

#categorias-btn {
    cursor: default;
    font-size: medium;
    margin: 0;
    margin-left: 1px;
    padding: 0;
    background: none;
    border: none;
    font: inherit;
    text-align: left;
    pointer-events: none;
}

#categorias-btn span {
    user-select: none;
}

#arrow {
    height: 10px;
    display: none;
}

.categoria {
    font-size: small;
    padding: 4px;
    user-select: none;
    display: flex;
    align-items: center;
}

.categoria label {
    user-select: none;
    cursor: pointer;
}

.categoria input[type="checkbox"] {
    cursor: pointer;
}

#products {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 20px;
    padding-bottom: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    background: #ffffff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.product:hover {
    color: rgb(92, 136, 200)
}

.product img {
    max-width: 100%;
    user-select: none;
}

.product h2 {
    margin: 0;
    padding: 0 5px;
    font-size: 1.0em;
    font-weight: 600;
}

.product p {
    margin: 0;
    font-size: 0.8em;
    color: #ba5526;
}

.modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    opacity: 0;
    transition: opacity 0.3s;
    justify-content: center;
    align-items: center;
}

.modal .modal-content {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;

    /* background-color: red; */
}

.scroll-gallery {
    flex: 0.6;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: unset;
    scroll-behavior: unset;
    align-items: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
    user-select: none;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 10px;
    cursor: zoom-in;
}

@keyframes moverFondo {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.scroll-gallery::-webkit-scrollbar {
    display: none;
}

.scroll-gallery img {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    object-fit: contain;
    flex: 0 0 100%;
}

.product-info {
    flex-direction: column;
    flex: 0.4;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    gap: 10px;
    padding: 10px;
    padding-left: 0;
    overflow: auto;

    /* background-color: chartreuse; */
}

.product-info h2 {
    font-size: large;
    padding: 0;
    margin: 0;
}

.product-info .description {
    padding: 0;
    margin: 0;
}

.product-info .price {
    font-size: x-large;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dots-container {
    position: absolute;
    justify-content: center;
    width: 60%;
    bottom: 17px;
    display: flex;
    gap: 15px;

    /* background-color: rgba(127, 255, 212, 0.486); */
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: grey;
    ;
}

.arrow-side {
    cursor: pointer;
    position: absolute;
    height: 10%;
    fill: grey;
    top: 50%;
    right: 40%;
    transform: translateY(-50%) translateX(-100%);
    opacity: 0;
    transition: all 0.3s;

    /* background-color: aquamarine; */
}

.arrow-left {
    left: 0%;
    transform: translateY(-50%) translateX(100%) scaleX(-1);
}

.scroll-gallery:hover~.arrow-side,
.arrow-side:hover {
    opacity: 1;
}


@media (max-width: 800px) {

    #container {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        margin: 0;
    }

    nav.menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        position: relative;
    }

    #search-n-btn {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #searchbox {
        margin: auto;
        flex-grow: 1;
    }

    #categorias-btn {
        cursor: pointer;
        font-size: small;
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 5px;
        margin-left: 20px;
        -webkit-tap-highlight-color: transparent;
        pointer-events: all;
    }

    #categorias-btn span {
        display: flex;
    }

    #arrow {
        display: flex;
        transition: transform 0.4s ease;
    }

    .categorias {
        z-index: 1;
        flex-wrap: wrap;
        gap: 10px;
        display: flex;
        transition: opacity 0.4s ease, transform 0.4s ease;
        position: absolute;
        top: 100%;
        opacity: 0;
        pointer-events: none;
    }

    .categoria {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 3px;
    }

    .categoria label {
        margin: 0;
        padding: 0;
        font-size: smaller;
        white-space: nowrap;
        -webkit-tap-highlight-color: transparent;
    }

    input[type="checkbox"] {
        margin: 0;
    }

    #products {
        grid-template-columns: repeat(2, 1fr);
        transition: transform 0.4s ease;
    }

    h1 {
        font-size: 6vw;
    }

    .logo {
        height: 60px;
    }

    /* MODAL */

    .scroll-gallery {
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        min-height: 60%;
    }

    .modal .modal-content {
        flex-direction: column;
    }

    .product-info {
        flex-basis: 40%;
        padding: 10px;
        padding-top: 0;
    }

    .dots-container {
        position: absolute;
        display: flex;
        width: 100%;
        gap: 15px;
        top: 60%;
        /*me gusta más ahi*/
        bottom: auto;
        transform: translateY(-50%);
        /* display: none; */
    }

    .arrow-side {
        display: none;

    }
}

#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Asegura que esté por encima de todo */
}

.loader {
    border: 8px solid #f3f3f3;
    /* Color del borde */
    border-top: 8px solid #3498db;
    /* Color del borde superior */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    /* Animación de rotación */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* CLASSLIST */

.rotate180 {
    transform: rotate(-180deg);
}

.appear {
    opacity: 1;
    pointer-events: all;
}

.hidden {
    display: none;
}

.no-scroll {
    position: fixed;
}

.flip-horizontal {
    transform: scaleX(-1);
}